<div>
    <div class="thumbnail">
        <div class="imagelist" id="estateimg">
            <img src="..{{ estate.image.url }}" id="img-pic" alt="EstateLogo"/>
        </div>

        <div class="caption" id="estatebox">
            <h3>{{ estate.address }}</h3>
            <div><h4> <i class="fas fa-usd"></i>{{ estate.price }}</h4></div>
            <div class="limit">
                <p>{{ estate.desc }}</p>
            </div>
            <br>
            <a href="{{ tracker.url }}" class="button">Learn more</a>
            <button class="btn" id="dropdown-choice" onclick=" window.location.href = '{{ tracker }}'" >Learn more</button>
        </div>
    </div>
</div>
