{% extends 'base.html' %}
{% block content %}
    <h1>Profile</h1>
    <form class="form form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset>
            <label>User details</label>
            {{ user_form.as_p }}
        </fieldset>

        <fieldset>
            <label>Profile details</label>
            {{ profile_form.as_p }}
        </fieldset>

        {% if profile_form.instance.avatar %}
            <img src="{{ profile_form.instance.avatar.url }}" alt="{{ user_form.instance.username }}">
        {% else %}
            <p>No profile pic</p>
        {% endif %}
        <input type="submit" class="btn btn-primary" value="Update">
    </form>
{% endblock %}