{% extends 'base.html' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'main-front' %}" id="hoverable-generic">Home</a></li>
        <li class="active">Profile</li>
    </ol>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{% url 'profile' %}" id="dropdown-choice">Profile</a></li>
        <li role="presentation" ><a href="{% url 'settings' %}">Settings</a></li>
        <li role="presentation"><a href="{% url 'messages' %}" id="dropdown-choice">Messages</a></li>
        <li role="presentation"><a href="{% url 'browsingHistory' %}" id="dropdown-choice">Browsing History</a></li>
    </ul>

    <br>
    <h1>Profile</h1>

        {% csrf_token %}

        <fieldset>
            <div>
                {% if user.profile.avatar %}
                    <img id="prof-pic" src="{{ user.profile.avatar.url }}/" alt="Profile picture">
                {% else %}
                    <p>No profile pic</p>
                {% endif %}
                <p>Full name: {{ user.get_full_name }}</p>
                <p>SSN: {{ user.profile.ssn }}</p>
                <p>E-mail address: {{ user.email }}</p>
                <p>Phone number: {{ user.profile.phone }}</p>

            </div>
        </fieldset>

        <fieldset>

        </fieldset>


    <br><br><br><br><br><br>

{% endblock %}