{% extends 'base.html' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'main-front' %}" id="hoverable-generic">Home</a></li>
        <li class="active">Profile</li>
    </ol>

    <ul class="nav nav-tabs" id="black">
        <li role="presentation" class="active"><a href="{% url 'profile' %}">Profile</a></li>
        <li role="presentation" ><a href="{% url 'settings' %}" id="dropdown-choice">Settings</a></li>
        <li role="presentation"><a href="{% url 'browsingHistory' %}" id="dropdown-choice">Browsing History</a></li>
    </ul>

    <br>
    <h1>{{ user.username }}'s Profile</h1>

        {% csrf_token %}

        <fieldset>
            <div class="media">
                <div class="media-left">
                    {% if user.profile.avatar %}
                        <img id="prof-pic" src="{{ user.profile.avatar.url }}/" alt="Profile picture">
                    {% else %}
                        <p>No profile pic</p>
                    {% endif %}
                </div>

                <div class="media-body">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="background">
                            <h4><b>Full name: {{ user.get_full_name }} </b></h4>
                        </div>
                        <div class="panel-body">
                            <p>SSN: {{ user.profile.ssn }}</p>
                            <p>E-mail address: {{ user.email }}</p>
                            <p>Phone number: {{ user.profile.phone }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>


    <br><br><br><br><br><br>

{% endblock %}