{% extends 'base.html' %}
{% block content %}
    <h1> Sign up now!</h1>
    <form class="form form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset>
            <label>User details</label>
            {{ user_form.as_p }}
        </fieldset>

        <fieldset>
            <label>Profile details</label>
            {{ profile_form.as_p }}
        </fieldset>

        <input type="submit" class="btn btn-primary" value="Sign up">
    </form>
{% endblock %}