{% extends 'base.html' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'main-front' %}" id="breadcrumb-hoverable">Home</a></li>
        <li><a href="{% url 'profile' %}" id="breadcrumb-hoverable">Profile</a></li>
        <li class="active">Settings</li>
    </ol>

    <ul class="nav nav-tabs">
        <li role="presentation" ><a href="{% url 'profile' %}" id="dropdown-choice">Profile</a></li>
        <li role="presentation"class="active"><a href="{% url 'settings' %}">Settings</a></li>
        <li role="presentation"><a href="{% url 'browsingHistory' %}" id="dropdown-choice">Browsing History</a></li>
        <li role="presentation"><a href="{% url 'searchHistory' %}" id="dropdown-choice">Search History</a></li>
    </ul>

    <h1>Profile</h1>
    <form class="form form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset>
            {{ user_form.as_p }}
        </fieldset>

        <fieldset>
            {{ profile_form.as_p }}
        </fieldset>

        {% if profile_form.instance.avatar %}
            <img id="prof-pic" src="{{ profile_form.instance.avatar.url }}" alt="{{ user_form.instance.username }}">
        {% else %}
            <p>No profile pic</p>
        {% endif %}
    <br><br>
        <input type="submit" class="btn btn-primary" value="Update">
    </form>
    <br>
{% endblock %}