/* BASE */
body{
    background-color: #fbfbfb;
}
/* NAVBAR */
.container-fluid {
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 15%, rgba(250,56,56,1) 70%);
}

#dropdown-choice:hover {
    background: rgba(250,56,56,1);
    color: rgb(255,255,255);
    transition: 0.5s;
}

#hoverable {
    background: rgba(250,56,56,0);
    color: rgb(255,255,255);
    padding: 8px 16px;
    border-radius: 5px;
    text-align: center;
    position: center;
    font-size: 16px;
    margin: 12px 4px;
    transition: 0.5s;
}

#hoverable:hover {
    color: black;
}

#profile-hover {
    background: rgba(250,56,56,0);
    color: rgb(255,255,255);
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 8px;
    text-align: center;
    position: center;
    font-size: 16px;
    transition: 0.5s;
}

#profile-hover:hover {
    color: black;
}

#logo {
    max-height: 200%;
    max-width: 100%;
}

/* FRONT PAGE */

#title {
    text-align: center;
    color: rgb(255,255,255);
    text-shadow: 2px 2px 5px rgba(250,56,56,1);
    padding: 10px;
}

.jumbotron {
    background-image: url("https://images.pexels.com/photos/532860/pexels-photo-532860.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    padding-bottom: 250px;
}

#search-box {
    align-content: center;
}

#flex-box {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
}

#flex-box > div {
    background-color: #f1f1f1;
    width: 30%;
    height: auto;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    line-height: 75px;
}

/* Fyrir Messages í Profiles*/

.nav-tabs .glyphicon:not(.no-margin) {
    margin-right:10px;
}
.tab-pane .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.tab-pane .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.tab-pane .list-group .checkbox {
    display: inline-block;
    margin: 0px;
}
.tab-pane .list-group input[type="checkbox"]{
    margin-top: 2px;
}
.tab-pane .list-group .glyphicon {
    margin-right:5px;
}
.tab-pane .list-group .glyphicon:hover {
    color:#FFBC00;
}
a.list-group-item.read {
    color: #222;background-color: #F3F3F3;
}
hr {
    margin-top: 5px
;margin-bottom: 10px;
}
.nav-pills>li>a {
    padding: 5px 10px;
}

.ad {
    padding: 5px;
    background: #F5F5F5;
    color: #222;
    font-size: 80%;
    border: 1px solid #E5E5E5;
}
.ad a.title {
    color: #15C;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
}
.ad a.url {
    color: #093;
    text-decoration: none;
}