{% extends '../base.html' %}

{% block content %}
    <ol class="breadcrumb">
      <li><a href="../">Home</a></li>
      <li class="active">Browse</li>
    </ol>

    <nav class="navbar navbar-default" >
      <div class="container-fluid" id="browse-filter">
              <ul class="nav navbar-nav">
          <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="hoverable">Castle type <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" id="dropdown-choice">Medieval Castle</a></li>
            <li><a href="#">Motte-and-Bailey</a></li>
            <li><a href="#">Stone Keep</a></li>
            <li><a href="#">Square Stone Keep</a></li>
            <li><a href="#">Round Stone Keep</a></li>
            <li><a href="#">Shell Keep</a></li>
            <li><a href="#">Concentric Castle</a></li>
            <li><a href="#">Victorian Castle</a></li>
            <li><a href="#">Royal Palace</a></li>
            <li><a href="#">Not a Castle</a></li>

          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Price <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">From</span>
                    <input type="text" class="form-control" placeholder="Price from" aria-describedby="basic-addon1">
                    </div>
              </li>
              <li>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">To</span>
                    <input type="text" class="form-control" placeholder="Price to" aria-describedby="basic-addon1">
                    </div>
              </li>
          </ul>
        </li>
           <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Size <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">From</span>
                    <input type="text" class="form-control" placeholder="sqft" aria-describedby="basic-addon1">
                    </div>
              </li>
              <li>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">To</span>
                    <input type="text" class="form-control" placeholder="sqft" aria-describedby="basic-addon1">
                    </div>
              </li>
          </ul>
        </li>
           <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lot size <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">From</span>
                    <input type="text" class="form-control" placeholder="sqfr" aria-describedby="basic-addon1">
                    </div>
              </li>
              <li>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">To</span>
                    <input type="text" class="form-control" placeholder="sqft" aria-describedby="basic-addon1">
                    </div>
              </li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bedrooms <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">From</span>
                    <input type="text" class="form-control" placeholder="Number of bedrooms" aria-describedby="basic-addon1">
                    </div>
              </li>
              <li>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">To</span>
                    <input type="text" class="form-control" placeholder="Number of bedrooms" aria-describedby="basic-addon1">
                    </div>
              </li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bathrooms <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">From</span>
                    <input type="text" class="form-control" placeholder="Number of bathrooms" aria-describedby="basic-addon1">
                    </div>
              </li>
              <li>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">To</span>
                    <input type="text" class="form-control" placeholder="Number of bathrooms" aria-describedby="basic-addon1">
                    </div>
              </li>
          </ul>
        </li>

      </ul>
        <div class="navbar-header" >
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right" >
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Newest listings</a></li>
            <li><a href="#">Lowest price</a></li>
            <li><a href="#">Highest price</a></li>
            <li><a href="#">Open house dates</a></li>
            <li><a href="#">Largest sqft</a></li>
            <li><a href="#">Lot size</a></li>
          </ul>
        </li>
              <button type="submit" class="btn btn-default">Apply</button>
              </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% for estate in estates %}
        {% include 'Browse/single_estate.html' with estate=estate%}
    {% endfor %}

{% endblock %}