{% extends 'base.html'  %}
{% block content %}


<h1> Welcome to checkout </h1>
    <p>Name: {{ firstname }}</p>
    <p>Email: {{ email }}</p>
    <p>SSN: {{ ssn }}</p>
    <p>Country: {{ country }}</p>
    <p>Street Name: {{ street_name }}</p>
    <p>House Number: {{ house_number }}</p>
    <p>City: {{ city }}</p>
    <p>Zip: {{ zip }}</p>
    <p>Cardname: {{ cardname }}</p>
    <p>Cardnumber: {{ cardnumber }}</p>
    <p>Billing Address: {{ billing }}</p>
    <p>Exp Date: {{ expdate }}</p>
    <p>CCC {{ cvv }}</p>

    <p>Buying: {{ estate.address }}</p>
    <img src="../../..{{ estate.image.url }}">

      <nav aria-label="...">
              <ul class="pager">
              <li><a href="./" class="btn" id="dropdown-choice">Go back</a></li>
              <li><a href="./checkout/success" class="btn" id="dropdown-choice">Finish</a></li>
              </ul>
          </nav>
    {% csrf_token %}
{% endblock %}