{% extends 'base.html'  %}
{% block content %}
    <link href="/static/css/style_credit_card.css" rel="stylesheet">

    <div class="row">
  <div class="col-75">
 <div class="container">
    <h1> Welcome to checkout </h1>
     <h4>Please review the information:</h4>
     <div class="row">
          <div class="col-50">
            <h3>Contact information</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <p>{{ firstname }}</p>
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <p>{{ email}}</p>
            <div class="row">
              <div class="col-50">
                <label for="ssn">SSN</label>
                <p>{{ ssn}}</p>
              </div>
              <div class="col-50">
                  <label for="county">Country</label>
                    <p>{{ country }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <label for="street_name">Street name</label>
                <p>{{ street_name}}</p>
              </div>
              <div class="col-50">
                <label for="house_number">House number</label>
                <p>{{ house_number }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <label for="city">City</label>
                <p>{{ city}}</p>
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <p>{{ zip}}</p>
              </div>
            </div>
          </div>
          <div class="col-50">
            <h3>Payment</h3>

            <label for="cname">Name on Card</label>
            <p>{{ cardname}}</p>
            <label for="ccnum">Credit card number</label>
            <p>{{ cardnumber}}</p>
            <label for="billing">Billing address</label>
            <p>{{ billing}}</p>

            <div class="row">
              <div class="col-50">
                <label for="expdate">Exp date</label>
                <p>{{ expdate}}</p>
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <p>{{ cvv}}</p>
              </div>
            </div>
          </div>

        </div>
      <!--/form-->
    </div>
    <div class="col-25">
        <div class="container">
          <h4>Your Estate
            <span class="price" style="color:black">
              <i class="fa fa-shopping-cart"></i>
              <b>1</b>
            </span>
          </h4>
          <hr>
            <p>{{ estate.address }} <span class="price" style="color:black"><b>$ {{ estate.price }}</b></span></p>
    </div>
    <!-- HAALLLOOO-->
      <nav aria-label="...">
              <ul class="pager">
              <li><a href="./" class="btn" id="dropdown-choice">Go back</a></li>
              <form method="POST" action="./checkout/success">
                  {% csrf_token %}
                   <li><input type="submit" value="Finish purchase"class="btn" id="buy-estate"></li>
              </form>
              <li><a href="./checkout/success" class="btn" id="buy-estate">Finish</a></li>
              </ul>
          </nav>
 </div>
  </div>
    </div>

{% endblock %}