{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="../../">Home</a></li>
    <li><a href="../">Browse</a></li>
    <li class="active">Specific castle</li>
</ol>
    <div class="media" id="details_box">
        <h1> {{ estate.address }}</h1>
    <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <img src="../../static/images/Profile.png" height="30" width="30"> Seller Profile <span class="caret"></span>
              </a>

              <ul class="dropdown-menu">
                <li class="dropdown-header">{{ estate.owner.get_full_name }}</li>
                <li><a href="mailto:{{ estate.owner.email }}?" id="dropdown-choice">{{ estate.owner.email }}</a></li>
                <li><a href="{% url 'messages' %}" id="dropdown-choice">{{ estate.owner.profile.phone }}</a></li>
              </ul>
            </li>
        <br>
        <div class="media-left">
            <img src="../..{{ estate.image.url }}" id="img-pic" alt="EstateLogo">
        </div>

        <div class="media-body">
            <p> {{ estate.price }} ISK</p>
            <p> <i class="fa fa-bed"></i>  {{ estate.bathNum }}, <i class="fa fa-bath"></i>  {{ estate.bedNum }}</p>
            <p>{{ estate.houseSize }} sqft, {{ estate.lotSize }} sqft lot</p>
            <div class="limit" id="details">
                <p> {{ estate.desc }}</p>
            </div>
        </div>

    </div>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous"><a href="../" id="dropdown-choice">Back to Browse</a></li>
            {% if user.is_authenticated %}
                <li class="next"><a href="./payment_details" id="dropdown-choice">Buy estate</a></li>
                {% else %}
                <li class="next"><a href="{% url 'login' %}" id="dropdown-choice">Log in to Purchase</a></li>
            {% endif %}
        </ul>
    </nav>
<br><br><br><br><br>

    {% if user.is_authenticated %}
        
    {% endif %}


{% endblock %}