<div>
    <div class="thumbnail">
        {% for image in imageList %}
            {% if image.id == estate.id %}
                <img src="{{ image.imageList }}" id="prof-pic" alt="EstateLogo"/>
            {% endif %}
        {% endfor %}

        <div class="caption">
            <h4>{{ estate.address }}</h4>
            <p>{{ estate.description }}</p>
            <h4> Address: {{ estate.address }}</h4>
            <h3> Price:{{ estate.price }}</h3>
            <p> bathroom number:{{ estate.bathNum }}</p>
            <p> bedroom number:{{ estate.bedNum }}</p>
            <p> size of house: {{ estate.houseSize }}</p>
            <p> size of lot: {{ estate.lotSize }}</p>
        </div>
    </div>
</div>
