<div>
    <div class="thumbnail">
        <div class="imagelist" id="estateimg">
            {% for image in imageList %}
                {% if image.id == estate.id %}
                    <img src="{{ image.imageList }}" id="prof-pic" alt="EstateLogo"/>
                {% endif %}
            {% endfor %}
        </div>

        <div class="caption" id="estatebox">
            <h3>{{ estate.address }}</h3>
            <h4> Price:{{ estate.price }} ISK</h4>
            <div class="limit">
                <p>{{ estate.desc }}</p>
            </div>
            <br>
            <button onclick="window.location.href = '{{ estate.id }}';" id="dropdown-choice">Learn more</button>
        </div>
    </div>
</div>
