{% extends '../base.html' %}

{% block content %}
    <ol class="breadcrumb">
      <li><a href="../">Home</a></li>
      <li class="active">Browse</li>
    </ol>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Raggi was here</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
    <div>
    {% for estate in estates %}
    {{ estate.address }}
    {{ estate.owner }}
    {% endfor %}
    </div>


{% endblock %}