{% extends 'base.html' %}

{% block content %}

    </div>

<div class="jumbotron" id="frontpage">
    <h1 id="title">Welcome to Castle Apartments</h1>
    <p id="title">A website where you can buy, sell and explore quality estates</p>

    <div class="row search" id="stretch">
      <div class="col-sm-8 col-sm-offset-2">
            <nav aria-label="...">
              <ul class="pager">
                  <li><a href="{% url 'estate' %}" id="front-btn"> Find an estate</a></li>
              </ul>
            </nav>
      </div>
    </div>
</div>

<br>
<div class="container">
    <h2 id="flair">Our recent estates</h2>
    <div class="row" id="flex-box">
        {% for estate in estates|slice:"4" %}
            {% if estate.status != False %}
                {% include 'Browse/single_estate.html' with estate=estate%}
            {% endif %}
        {% endfor %}
    </div>
<br>

</div>
{% endblock %}