{% extends 'base.html' %}

{% block content %}

    </div>

<div class="jumbotron" id="frontpage">
    <h1 id="title">Welcome to Castle Apartments</h1>
    <p id="title">A website where you can buy, sell and explore quality estates</p>

    <div class="row search" id="stretch">
      <div class="col-sm-8 col-sm-offset-2">
        <form role="form">
            <div class="input-group" id="search-box">
              <input type="text" class="form-control input-md" placeholder="Search for address, city or zip..." required id="search-box">
              <span class="input-group-btn" >
                  <a href={% url 'estate' %}>
                    <button class="btn btn-default btn-md" onclick="window.location.href = {% url 'estate' %}" id="search-btn" type="submit">
                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Search
                    </button>
                  </a>
              </span>
            </div>
        </form>
      </div>
    </div>
</div>

<br>
<div class="container">
    <h2 id="flair">Our recent estates</h2>
    <div class="row" id="flex-box">
        <div>
            <div class="thumbnail">
                <img src="https://images.pexels.com/photos/462770/pexels-photo-462770.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="AwesomeCastle1">
                <div class="caption">
                    <h2>Awesome Castle 1</h2>
                    <p>A stunning, beautifully structured castle with uncountable amounts of bathrooms and bedrooms, in the middle of nowhere! Don't miss out!</p>
                    <p><a href="#" class="btn btn-default" role="button" id="hoverable-button-2">Learn more...</a></p>
                </div>
            </div>
        </div>

        <br>
        <div>
            <div class="thumbnail">
                <img src="https://images.pexels.com/photos/416026/pexels-photo-416026.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="AwesomeCastle2">
                <div class="caption">
                    <h2>Awesome Castle 2</h2>
                    <p>A stunning, beautifully structured castle with uncountable amounts of bathrooms and bedrooms, in the middle of nowhere! Don't miss out!</p>
                    <p><a href="#" class="btn btn-default" role="button" id="hoverable-button-2">Learn more...</a></p>
                </div>
            </div>
        </div>

        <div>
            <div class="thumbnail">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f7a5a2c0-fd5d-4ad6-84a2-39f86e7a07fc/dp7qs5-32ae63ae-5166-4f5a-8123-1963ec2497f0.jpg/v1/fill/w_1032,h_774,q_70,strp/castle_by_elizatibbits_stock_dp7qs5-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjMwNCIsInBhdGgiOiJcL2ZcL2Y3YTVhMmMwLWZkNWQtNGFkNi04NGEyLTM5Zjg2ZTdhMDdmY1wvZHA3cXM1LTMyYWU2M2FlLTUxNjYtNGY1YS04MTIzLTE5NjNlYzI0OTdmMC5qcGciLCJ3aWR0aCI6Ijw9MzA3MiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.G6A5erAG_vHaYUFqZtsbLcpPAqowh4EctcJip8U8-Lc" alt="AwesomeCastle3">
                <div class="caption">
                    <h2>Awesome Castle 3</h2>
                    <p>A stunning, beautifully structured castle with uncountable amounts of bathrooms and bedrooms, in the middle of nowhere! Don't miss out!</p>
                    <p><a href="#" class="btn btn-default" role="button" id="hoverable-button-2">Learn more...</a></p>
                </div>
            </div>
        </div>
    </div>
<br>
{% endblock %}