{% extends 'base.html' %}

{% block content %}
    <h1> Welcome to Castle Apartments! How can we help you?</h1>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search by address, city or zip code">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images.pexels.com/photos/462770/pexels-photo-462770.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="AwesomeCastle1">
      <div class="caption">
        <h3>Awesome Castle 1</h3>
        <p>A stunning, beautifully structured castle with uncountable amounts of bathrooms and bedrooms, in the middle of nowhere! Don't miss out!</p>
        <p><a href="#" class="btn btn-primary" role="button">Buy now!</a> <a href="#" class="btn btn-default" role="button">Learn more...</a></p>
      </div>
    </div>

      <br>

    <div class="thumbnail">
      <img src="https://images.pexels.com/photos/416026/pexels-photo-416026.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="AwesomeCastle2">
      <div class="caption">
        <h3>Awesome Castle 2</h3>
        <p>A stunning, beautifully structured castle with uncountable amounts of bathrooms and bedrooms, in the middle of nowhere! Don't miss out!</p>
        <p><a href="#" class="btn btn-primary" role="button">Buy now!</a> <a href="#" class="btn btn-default" role="button">Learn more...</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}