{% extends 'base.html' %}
{% block content %}
    <form class="form form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% load widget_tweaks %}
        <fieldset>
            <div class="page-header">
                <h1>Sell your house </h1>
                <h4>Estate Information</h4>
            </div>
            {% for hidden in estate_form.hidden_fields %}
              {{ hidden }}
            {% endfor %}

            {% for field in estate_form.visible_fields %}
                {% if field.label == 'Image'%}
                    {% if not profile_form.instance.image %}
                        <img id="prof-pic" src="{{ estate_form.instance.image.url }}" alt="{{ estate_form.instance.address }}">
                    {% else %}
                        <p>No profile pic</p>
                    {% endif %}
                    <p>HELLO!</p>
                {% endif %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            {% endfor %}
        </fieldset>
        <nav aria-label="...">
          <ul class="pager">
            <li class="previous"><a href="../" id="dropdown-choice">Quit without saving</a></li>
            <input type="submit" class="btn btn-primary" value="Submit">
          </ul>
        </nav>
    </form>
{% endblock %}